{% extends 'base.html.twig' %}
{% block title %}nouveau!{% endblock %}
{% block body %}

<h1>Saisissez votre nouvelle adresse mail email ainsi que que votre nouveau mot de passe</h1>
<h4> ()</h4>
{{form_start(form)}}
{{form_widget(form)}}
{{form_end(form)}}

{% endblock %}