{% extends 'base.html.twig' %}
{% block title %}nouveau!{% endblock %}
{% block body %}

	 <div class="container m-auto">

	 	<div class="text-center mt-5 mb-5">
			<h1>Inscription, étape 1/2 </h1>
			<h1>Saisissez votre e-mail ainsi que que votre mot de passe</h1>
		</div>
		{{form_start(form)}}
		{{form_widget(form)}}
		{{form_end(form)}}

	</div>

{% endblock %}